# gitignore for EddyPro engine 
# created by gerardo fratini for Fortran/C::B

### C::B ###
*.depend
*.layout
Makefile

### FORTRAN ###
*.exe
*.mod
*.o

### MAC ###
*.DS_Store
*.db

### MISC ###
*.bak

### EP ###
*.eddypro

### DIRS AND SPECIFIC FILES###
bin
mod
obj
backup_eddypro_to_dropbox.bat
ep_engine_devtools.py
src/src_common/deprecated
src/src_common/under_development
src/src_fcc/deprecated
src/src_rp/deprecated
